<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<strong>Hello!</strong> Remember to logout/lock when you are away from the system.
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">&times;</span>
	</button>
</div>

<%= render 'layouts/navigation' %>

<div class="jumbotron">
  <h1 class="display-4">Hello, Dear Merino Family Member!</h1>
  <p class="lead">Welcome to MyMerino Portal.</p>
  <hr class="my-4">
  <p>Your new home for- Product related information, Training, Certifications, Company Events and so much more! Click below to learn more about My Merino</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="quote-card" style="<%= @quotes.last.background %> ">
	<br>
	<h2>Quote of the Week!</h2>
	<h4><%= @quotes.last.title %></h4>
	<h6>~<%= @quotes.last.author %></h6>	
	<br>
</div>

<div class="event-card">
	<br>
	<h2>Events</h2>
	<div id="slideBox">
	  <!--Sidebar-->
	  <div class="sliderSidebar">
	    <div><img src="https://res.cloudinary.com/inddev/image/upload/c_fill,h_100,w_200/v1541188088/event-2.jpg"></div>
	    <div><img src="https://res.cloudinary.com/inddev/image/upload/c_fill,h_100,w_200/v1541188066/event-1.jpg"></div>
	    <div><img src="https://res.cloudinary.com/inddev/image/upload/v1540688545/image3-100.jpg"></div>
	    <div><img src="https://picsum.photos/200/100?image=0"></div>
	    <div><img src="https://picsum.photos/200/100?image=10"></div>
	    <div><img src="https://picsum.photos/200/100?image=25"></div>
	    <div><img src="https://picsum.photos/200/100?image=55"></div>
	    <div><img src="http://placehold.it/200x100/C8102E/FFFFFFF?text=Video THUMB" /></div>
	  </div>

	  <div id="main-image" class="sliderMain">
	    <div><img src="https://res.cloudinary.com/inddev/image/upload/c_fill,h_500,w_900/v1541188088/event-2.jpg"></div>
	    <div><img src="https://res.cloudinary.com/inddev/image/upload/c_fill,h_500,w_900/v1541188066/event-1.jpg"></div>
	    <div><img src="https://res.cloudinary.com/inddev/image/upload/v1540688545/image3-500.jpg"></div>
	    <div><img src="https://picsum.photos/900/500?image=0"></div>
	    <div><img src="https://picsum.photos/900/500?image=10"></div>
	    <div><img src="https://picsum.photos/900/500?image=25"></div>
	    <div><img src="https://picsum.photos/900/500?image=55"></div>
	    <div id="slide-video">
	      <video width="900px" id="theVideo" controls>
	        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" />
	      </video>
	    </div>
	  </div>
	</div>
</div>

<div class="homepage-product-part">
	<br>
	<h2 align="center">Whats new: from our Product Database</h2>
	<div class="product-grid">
		<br>
		<div class="col-8 container border border-secondary" padding="50px">
			<br>
			<h4 align="center">HPL Based Products</h4>
			  <ul class="list-unstyled row">
				<% @products.each do |product| %>
			    	<li class="list-item col-2 border-top border-bottom py-2"><%= product.name %></li>
			    <% end %>
			  </ul>
		</div>
		<br>
		<br>	
		<div class="col-8 container border border-secondary" padding="50px">
			<br>
			<h4 align="center">Compacts Based Products</h4>
				<% @products.each do |product, i| %>
					<%= product.name %>
			    <% end %>
		</div>
		<br>
	</div>
</div>
<div class="socialdiv-home" align="center">
<br>
<h2 align="center">The Latest Buzz</h2>
<h5>Facebook Timeline</h5>
<div class="facebook-frame-div">
<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmerino.laminates%2F&tabs=timeline&width=500&height=600&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="500" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
<br>
</div>
</div>


<%= render 'layouts/footer' %>