<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<strong>Hello!</strong> Remember to logout/lock when you are away from the system.
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">&times;</span>
	</button>
</div>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  	<a class="navbar-brand" href="www.merinoindia.com"><img class="navbar-logo-img" src="https://res.cloudinary.com/inddev/image/upload/v1540676780/Merino-Group-Logo.png" alt="Ethic Economy Excellence">
	</a>
  <a class="navbar-brand" href="#">MyMerino Portal</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="tooltip" data-placement="top" title="Get to know everything about Merino's products">Product Database</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Office Locator</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="event-card">
	<h3>Events</h3>
	<div id="slideBox">
	  <!--Sidebar-->
	  <div class="sliderSidebar">
	    <div><img src="https://res.cloudinary.com/inddev/image/upload/v1540688545/image1-100.jpg"></div>
	    <div><img src="https://res.cloudinary.com/inddev/image/upload/v1540688545/image2-100.jpg"></div>
	    <div><img src="https://res.cloudinary.com/inddev/image/upload/v1540688545/image3-100.jpg"></div>
	    <div><img src="https://picsum.photos/200/100?image=0"></div>
	    <div><img src="https://picsum.photos/200/100?image=10"></div>
	    <div><img src="https://picsum.photos/200/100?image=25"></div>
	    <div><img src="https://picsum.photos/200/100?image=55"></div>
	    <div><img src="http://placehold.it/200x100/C8102E/FFFFFFF?text=Video THUMB" /></div>
	  </div>

	  <div id="main-image" class="sliderMain">
	    <div><img src="https://res.cloudinary.com/inddev/image/upload/v1540688545/image1-500.jpg"></div>
	    <div><img src="https://res.cloudinary.com/inddev/image/upload/v1540688545/image2-500.jpg"></div>
	    <div><img src="https://res.cloudinary.com/inddev/image/upload/v1540688545/image3-500.jpg"></div>
	    <div><img src="https://picsum.photos/900/500?image=0"></div>
	    <div><img src="https://picsum.photos/900/500?image=10"></div>
	    <div><img src="https://picsum.photos/900/500?image=25"></div>
	    <div><img src="https://picsum.photos/900/500?image=55"></div>
	    <div id="slide-video">
	      <video width="900px" id="theVideo" controls>
	        <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" />
	      </video>
	    </div>
	  </div>
	</div>
</div>

<div class="list-group">
<% @events.each do |event| %>
	<h3><%= event.title %></h3>
	<a class= "list-group-item list-group-item-action" href="<%= event.url %>">Open in New Tab</a>
	<img class="img-responsive" width="304" height="236" src="<%=raw event.url %>">
<% end %>
</div>

<h4 align="center">HPL Based Products</h4>
<div class="col-8 container" style="height: 350px;">
  <ul class="list-unstyled row">
	<% @products.each do |product| %>
    	<li class="list-item col-2 border-top border-bottom py-2"><%= product.name %></li>
    <% end %>
  </ul>
</div>
<h4 align="center">Compacts Based Products</h4>
<div class="col-8 container" style="height: 350px;">
  <ul class="list-unstyled row">
	<% @products.each do |product| %>
    	<li class="list-item col-2 border-top border-bottom py-2"><%= product.name %></li>
    <% end %>
  </ul>

</div>


<h1>Home#show</h1>
<p>Find me in app/views/home/show.html.erb</p>
